Navbar.css

* {
  box-sizing: border-box; 
}

body {
  margin: 0;
}

.navbar {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 20px; 
  background-color: #f3f4f6; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0; 
  z-index: 1000; 
}

.box1 {
  display: flex; 
  align-items: center; 
  width: 100%; 
}

.logo {
  margin: 0; 
  font-size: 1.5rem;
  font-weight: bold; 
  color: #333; 
}

.user-profile{
  display:flex;
  justify-content: space-between;
  gap:10px;
}

.user-profile:hover{
  color:#5c5858 !important;
  border-bottom:solid 2px rgb(88, 86, 86); 
}

.user-name{
  display:flex;
  align-items: center;
}
.highlight {
  color: #007bff; 
}

.box2 {
  margin-left: auto; 
}

.box21 {
  display: flex; 
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.box21 li {
  margin-left: 20px; 
  font-weight: 500; 
  cursor: pointer; 
  font-size: medium;
  transition: color 0.3s; 
}

.box21 li:hover {
  color: #707172; 
}

.signup-button {
  padding: 12px 25px; 
  font-size: 0.9rem; 
  font-weight: bold; 
  border-radius: 30px; 
  border: none; 
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.signup-button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
  .box21 {
    flex-direction: column; 
    position: absolute; 
    background-color: #f3f4f6; 
    width: 100%;
    top: 60px; 
    left: 0; 
    display: none; 
    z-index: 999; 
  }

  .navbar:hover .box21 {
    display: flex; 
  }

  .box21 li {
    margin: 10px 0;
  }
}
.change{
  display:flex;
  margin-top: 10px;
  gap: 10px;
}
.change{
  color:#333;
}
.logo-img{
   width: 25px;
   height: 25px;
}
.user-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
} 

.nav-link:hover{
  color:#5c5858 !important;
  border-bottom:solid 2px rgb(88, 86, 86);
}

.nav-div{
  display:flex;
  justify-content: center;
  align-items: center;
}


.custom-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 100%;
  right: 0;
  z-index: 10;
  width: 150px;
}

.custom-dropdown li {
  list-style-type: none;
}

.custom-dropdown .dropdown-item {
  display: block;
  padding: 8px;
  color: #001a33;
  text-decoration: none;
  font-size: larger;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #f1f1f1;
}

