
.back-button {
  margin-top: 80px;
  background-color: #0073e6;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 1rem;
}
.progressicon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.applications-table {
  position: relative;
}
.status-buttons {
  display: flex;
  gap: 10px;
}

.status-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.status-button.accepted {
  background-color: #28a745; /* Green for Accept */
}

.status-button.rejected {
  background-color: #dc3545; /* Red for Reject */
}