
 /* Hero Container */
.heroContainer {
  
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  padding: 0 20px;
}

/* Content */
.content {
  text-align: center;
  max-width: 600px;
}

/* Heading */
.heading {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #4a00e0;
  margin-bottom: 15px;
}

/* Highlight Text */
.highlightText {
  background-image: linear-gradient(45deg, #f4d421, #d72e5e);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
}


.subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
}


.searchInput {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 30px 0 0 30px;
  outline: none;
  flex: 1;
}


.searchIconContainer {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  color: #555;
  font-size: 1.5rem;
   background-color: transparent;
   outline: none;
   border: 0px solid;
}

/* .ctaContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
} */


.ctaButton {
  /* padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  background-color: #4a00e0;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease; */
  
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #49c628a6;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);


}
/* Styling for the h3 subtitle text */


/* Responsive adjustments */

.textcontainer{
     /* Styling for the h3 subtitle text */
     margin-top: -6px;
     margin-bottom: 45px;
  font-size: 1.12rem; /* Slightly larger than default, but smaller than main headers */
  font-weight: 500;
  color: #cecaca; /* Soft gray color that complements the search bar */
  /* text-align: center;  */
  line-height: 1.5; /* Adds readability by increasing line spacing */
  max-width: 700px; /* Constrains width to improve readability */
   /* Adds padding on sides for better responsiveness */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .textcontainer{
      font-size: 1.1rem; /* Slightly smaller font size for smaller screens */
      margin-top: 0.5rem; /* Adjusts top margin for compact spacing */
      margin-bottom: 1.5rem; /* Adjusts bottom margin for mobile layout */
  }
}


