.changecolor {
  color: #021ffa;
  margin-left: 16px;
}

.bookmark-icon {
  cursor: pointer;
  font-size: 20px;
}

.job-card {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  min-height: 300px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.job-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.company-name {
  font-weight: 500;
  font-size: 1.125rem;
}

.location {
  font-size: 0.875rem;
  color: #6b7280;
}

.job-info {
  margin: 16px 0;
  min-height: 120px;
}

.job-title {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 8px 0;
}

.job-description {
  max-width: 400px;
  font-size: 0.875rem;
  color: #4b5563;
}

.badges-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.badge {
  padding: 4px 8px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 15px;
}

.badge.blue {
  background-color: #3b82f6;
}

.badge.orange {
  background-color: #f97316;
}

.badge.purple {
  background-color: #7209b7;
}

.job-card {
  padding: 15px;
}

.company-name, .job-title {
  font-size: 1rem;
}

.location, .job-description {
  font-size: 0.8rem;
}

.badge {
  font-size: 0.75rem;
}

.alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-icon-1 {
  cursor: pointer;
  font-size: 20px;
  color: gray;
  transition: color 0.1s ease;
}

.bookmarked {
  color: gold;
}

.job-card-user-logo {
  display: flex;
}

.b-1 {
  font-size: 12px !important;
}
.closed{
  color:red;
  font-weight: bold;
  font-size: 15px;
}