/* Container for the main content */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
  margin-top: 80px;
}

/* Flex container for input and button */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Styling for the filter input */
.filter-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

/* Styling for the New Company button */
.new-company-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.new-company-btn:hover {
  background-color: #0056b3;
}



.company-item-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.company-inner-content {
  display: flex;
  gap: 15px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.company-inner-content:hover {
  transform: scale(1.03);
}

.category-icon {
  flex-shrink: 0;
}

.company-logo {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #007bff;
  padding: 5px;
}

.company-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: #007bff;
  position: relative;
}

.dot-before {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #007bff;
  border-radius: 50%;
  margin-right: 8px;
}

.company-info {
  margin-top: 10px;
  color: #6c757d;
}

.company-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.company-website a {
  color: #007bff;
  text-decoration: none;
}

.company-website a:hover {
  text-decoration: underline;
}

.company-location {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
}

.company-location li {
  margin-top: 2px;
}
